/* Style vores tilbage-knap */
.back-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

/* Når musen er over knappen */
.back-button:hover {
	background-color: #3e8e41;
}